@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #202c36;
    --color-background-soft: #2b3844;
    --color-font: #fff;
  }
}

:root {
  --color-background: #f2f2f2;
  --color-background-soft: #fff;
  --color-font: #111517;
}

@media screen and (max-width: 1440px) {
  :root {
    --font-size: 14px;
    --box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.0532439);
    --border-radius: 5px;
  }
}

@media screen and (min-width: 1440px) {
  :root {
    --font-size: 14px;
    --box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.0532439);
    --border-radius: 5px;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
  font-weight: normal;
}

input {
  outline: none;
  border: 0;
}

body {
  min-height: 100vh;
  font-family: 'Nunito Sans';
  font-size: 14px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--color-background);
}
